{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }



  {%- if section.settings.Heading != blank -%}
    #Heading-{{ section.id }}{
      text-align: left;
    }
  {%- endif -%}

  {%- if section.settings.Heading != blank or section.settings.subHeading != blank -%}
    .Icon_Divider > div:first-child{
      align-items: unset;
    }
  {%- endif -%}


  {%- if section.settings.subHeading != blank -%}
    #customSubHeading-{{ section.id }}{
      text-align: left;
    }
  {%- endif -%}

  #Icon_Divider-{{ section.id }}{
    grid-template-columns: {{ section.settings.heading_width }}fr 1fr 1fr 1fr;
    grid-row-gap: {{ section.settings.row_gap }}px;
    grid-column-gap: {{ section.settings.column_gap }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- if section.settings.heading_centered -%}
  {%- style -%}
    #Heading-{{ section.id }}{
      text-align: center;
    }
    #customSubHeading-{{ section.id }}{
      text-align: center;
    }
  {%- endstyle -%}
{%- endif -%}




<div class="icon_divider_outer_wrapper section-{{ section.id }}-padding">
  <div id="Icon_Divider-{{ section.id }}" class="Icon_Divider page-width">

    {%- if section.settings.Heading != blank or section.settings.subHeading != blank-%}
      <div>
        {%- if section.settings.Heading != blank -%}
          <h2 id="Heading-{{ section.id }}">{{ section.settings.Heading | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.subHeading != blank -%}
          <p id="customSubHeading-{{ section.id }}" class="customSubHeading">{{ section.settings.subHeading | escape }}</p>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- for block in section.blocks -%}
      <div class="icon_divider_tile">
        {%- if block.settings.icon != blank -%}
          <img src="{{ block.settings.icon | img_url: 'medium' }}" />
        {%- endif -%}
        <p class="lead_text">{{ block.settings.text | escape }}</p>
        <p>{{ block.settings.subtext | escape }}</p>
      </div>
    {%- endfor -%}

  </div>
</div>

{% schema %}
{
  "name": "Icon-Divider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "Heading",
      "default": "LOREM IPSUM SIT DOLOR AMET",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subHeading",
      "default": "LOREM IPSUM SIT DOLOR AMET",
      "label": "Sub Heading"
    },
    {
      "type": "range",
      "id": "heading_width",
      "min": 0.5,
      "max": 4,
      "step": 0.5,
      "unit": "fr",
      "label": "1st. element width",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "heading_centered",
      "default": true,
      "label": "Center Text"
    },
    {
      "type": "range",
      "id": "row_gap",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "row gap",
      "default": 20
    },
    {
      "type": "range",
      "id": "column_gap",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "column gap",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "default": "LOREM IPSUM DOLOR",
          "label": "Icon Heading"
        },
        {
          "type": "text",
          "id": "subtext",
          "default": "LOREM IPSUM SIT DOLOR AMET",
          "label": "Icon Subtext"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon-Divider"
    }
  ]
}
{% endschema %}
